.no-pastic {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.no-pastic h1 {
  width: 15%;
  margin: 25px auto;
  font-size: 45px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.no-pastic h2 {
  width: 40%;
  margin: 15px auto;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}
.no-pastic .no-plastic-all {
  margin: 50px auto;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}
.no-pastic .no-plastic-all .no-plastic-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  height: 200px;
  position: relative;
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img1 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img1 img {
  width: 100%;
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 {
  -webkit-transform: scale(5);
          transform: scale(5);
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 img {
  width: 100%;
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 img {
  width: 100%;
}
.no-pastic .no-plastic-all .no-plastic-img .no-plastic-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto auto;
  padding: 15px 50px;
  background-color: #20203d;
  border: none;
  color: white;
  font-size: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 2px solid white;
}
.no-pastic .no-plastic-all .no-plastic-img .no-plastic-btn:hover {
  color: #20203d;
  background-color: white;
  border: 2px solid #20203d;
}

@media screen and (max-width: 700px) {
  .no-pastic {
    width: 100%;
  }
  .no-pastic h1 {
    font-size: 25px;
    width: 50%;
  }
  .no-pastic h2 {
    font-size: 17px;
  }
  .no-pastic .no-plastic-all {
    margin: 20px auto;
  }
  .no-pastic .no-plastic-all .no-plastic-img .no-pl-img1, .no-pastic .no-plastic-all .no-plastic-img .no-pl-img3 {
    display: none;
  }
  .no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .no-pastic .no-plastic-all .no-plastic-img .no-pl-img2 img {
    width: 100%;
  }
}